.sideBar{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--grey800);
    overflow: hidden;
    border-radius: 8px;
}

.sideBar .cover{
    width: 100%;
    height: 4.5rem;
    object-fit: cover;
    
}

.sideBar .avatarContent{
    margin-top: -1.87rem
}

.sideBar .authorInfo{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1rem;
    row-gap: .3rem;
    padding-bottom: 1.5rem;
}
.sideBar .authorInfo strong{
    color: var(--grey100);
}
.sideBar .authorInfo span{
    font-size: .875rem;
    color: var(--grey400);
}

.sideBar footer{
    display: flex;
    justify-content: center;

    border-top: 1px solid var(--grey600);
    width: 100%;
    padding: 1.5rem 0 2rem 0
}
.sideBar footer button{
    display: flex;
    align-items: center;

    column-gap: 0.625rem;
    font-weight: bold;
    color:  var(--green500);;
    padding: 1rem 1.5rem;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--green500);
    transition: .3s color, .3s border-color
}
.sideBar footer button svg{
    font-size: 20px;
}

.sideBar footer button:hover{
    color: var(--green700);
    border-color: var(--green700)
}
