:root{
    --white: #fff;
    --grey100: #E1E1E6;
    --grey300: #C4C4CC;
    --grey400: #8D8D99;
    --grey600: #323238;
    --grey700: #29292e;
    --grey800: #202024;
    --grey900: #121214;

    --green500: #00B37E;
    --green700: #00875F;

    --red: #F75A68

    --title: 
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    

}

body{
    background-color: var(--grey900);
    color: var(--grey300);
    -webkit-font-somothing: antialiased
}
body,input,textarea,button{
    font-family: 'Roboto' ,sans-serif,serif;
    font-weight: 400;
    font-size: 1rem;
}

:focus{
    
    box-shadow: 0px 0px 0px 2px var(--green500);
}


